- # coding: utf-8

!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no' }
    %title きんつば
    %script{ type: 'text/javscript', src: './js/jquery.min.js' }
    %script{ type: 'text/javscript', src: './js/script.js' }
    %link{ rel: 'stylesheet', href: './css/style.css' }

    %body
      %h1 きんつば (@kintsubird)
